@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: Montserrat, sans-serif;
}

/*HEADER*/
.header{
    background-image: linear-gradient(to top, rgba(255, 10, 71, 0.685) 0%, rgba(255, 177, 153, 0.699) 100%), url(../img/header.jpg);
    width: 100%;
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}

.textos-header{
    height: 500px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textos-header h1{
    font-size: 60px;
}

.textos-header p{
    font-size: 25px;
    margin-bottom: 20px;
}

.textos-header a{
    display: inline-block;
    text-decoration: none;
    padding: 12px 15px;
    background: #ff2537a2;
    border-radius: 8px;
    color: #fff;
}

.textos-header a:hover{
    cursor: pointer;
    background: #ff256e;
    transition: background .3s;
}

.svg-header{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

/*ESTILOS GENERALES*/
.contenedor, .wave-contenedor{
    width: 90%;
    max-width: 1000px;
    overflow: hidden;
    margin: auto;
    padding: 0 0 80px 0;
}

.contenedor{
    padding: 80px 0;
}

.titulo{
    font-weight: 300;
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
}

.titulo.left{
    text-align: left;
}

.titulo.right{
    text-align: right;
}

/*SECTION*/

.main{
    display: flex;
    justify-content: space-between;
}

.main img{
    width: 48%;
}

.main .contenedor-textos-main{
    width: 40%;
}

.parrafo{
    text-align: justify;
    margin-bottom: 20px;
}

.cta{
    display: inline-block;
    text-decoration: none;
    background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    padding: 12px 15px;
    border-radius: 8px;
    color: #fff;
}

.cta:hover{
    background-image: linear-gradient(45deg, #f16368 0%, #f18c70 99%, #f18c70 100%);
    transition: background-image .3s;
}

/*INFO*/
.info{
    background: #f5576c;
    color: #fff;
}

/*CARDS*/
.content-cards{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card{
    width: 30%;
    text-align: center;
    height: 300px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
    transform: scale(1);
    transition: transform 0.6s;
}

.card:hover{
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    transform: scale(1.03);
    cursor: pointer;
}

.card i{
    margin: 30px 0 20px 0;
    color: #cc9199;
    font-size: 50px;
}

.card p{
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 10px;
}

/*GALERIA*/
.galeria{
    background: #f2f2f2;
}

.galeria-cont{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: hidden;
}

.galeria-cont > img{
    width: 30%;
    object-fit: cover;
    margin-bottom: 20px;
    display: block;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .5);
    cursor: pointer;
    overflow: hidden;
}

/*INFO2*/
.last-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
}

.last-section img{
    width: 48%;
}

.last-section .contenedor-textos-main{
    width: 40%;
}

/*FOOTER*/
footer{
    background: #f5576c;
    color: #fff;
}

.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input{
    background: transparent;
    border: 0px;
    color: #fff;
    outline: none;
    border: 1px solid #fff;
    padding: 20px 10px;
    border-radius: 8px;
}

.input::placeholder{
    color: #fff;
    font-family: Montserrat, sans-serif;
}

input[type="text"], input[type="email"]{
    display: inline-block;
    width: 49%;
    margin-bottom: 30px;
}

.form textarea{
    width: 100%;
    margin-bottom: 15px;
    border-radius: 8px;
}

input[type="submit"]{
    width: 120px;
    text-align: center;
    padding: 14px 0;
    border-radius: 8px;
}

input[type="submit"]:hover{
    cursor: pointer;
    color: #fff;
    background-image: linear-gradient(45deg, #f16368 0%, #f18c70 99%, #f18c70 100%);
}

.copy{
    text-align: center;
    font-size: 20px;
    color: #fff;
}

@media screen and (max-width: 800px){
    .textos-header h1{
        text-align: center;
        font-size: 50px;
    }

    .titulo{
        font-size: 35px;
    }

    .titulo.left{
        text-align: center;
    }

    .info p{
        text-align: center;
    }

    /*MAIN*/
    .main{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .main img{
        width: 100%;
    }

    .main .contenedor-textos-main{
        width: 100%;
    }

    /*CARDS*/
    .card{
        width: 90%;
        margin-bottom: 20px;
    }

    /*GALERIA*/
    .galeria-cont > img{
        width: 48%;
    }

    /*INFO2*/
    .last-section img{
        width: 98%;
    }

    .last-section .contenedor-textos-main{
        width: 98%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 400px){
    .titulo, .textos-header h1{
        font-size: 30px;
    }

    .textos-header p{
        font-size: 20px;
        text-align: center;
    }

    .main .contenedor-textos-main{
        margin-bottom: 30px;
    }

    .card{
        height: 380px;
    }

    .galeria-cont > img{
        width: 97%;
    }
}